body{
    background: rgb(22, 21, 21);
}

h1{
    text-align: center;
    font-family: 'Lucida Sans';
    color: bisque;
}

#container {
    margin: auto;
    width: 300px;
    height: auto;
    border: 1px solid red;
    padding: 10px;
  }

#container img{
    max-width: 100%;
    height: auto;
}

.tex{
    color: bisque;
    text-align: center;
}
